:root {
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Dancing Script', cursive;
  --Belleza-font: 'Belleza', sans-serif;
}

body {
  font-family: var(--Belleza-font);
  background: linear-gradient(to bottom, #5d326c, #350048);
  color: white;
}

img {
  max-width: 100%;
}

header {
  font-family: var(--Belleza-font);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-menu {
  display: flex;
}

.hamburger {
  margin: 50px;
  width: 30px;
  height: 30px;
}

.nav-link {
  list-style-type: none;
  position: relative;

  a {
    text-decoration: none;
    line-height: 3em;
    color: whitesmoke;
  }
}

.nav-link.mobile-hidden {
  display: none;
}

.nav-link.mobile-show {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 130px;
  width: 100px;
  height: 190px;
  padding: 15px;
  font-size: 18px;
  font-family: var(--main-font);
  text-align: center;
  background-color: #3c1053;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}

h1 {
  margin: 40px;
  font-size: 2.5em;
  text-shadow: -10px 10px 0px #ad5389;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid #ad5389;
  box-shadow: 0 10px 20px #ad5389;
  border-radius: 12px;
}

/* first part of form*/

.intro {
  .intro-link {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .intro-area img {
    display: flex;
    margin: 5px;
  }

  .intro-area a {
    color: orange;
    text-decoration: none;
  }

  .intro p {
    opacity: 0.6;
  }
  #map {
    display: flex;
    width: 70vw;
    height: 40vh;

    @media screen and (min-width: 799px) and (min-width: 1280px) {
      width: 40vw;
      height: 40vh;
    }
  }
}

/* second part of the form */

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 400px;
  margin: 40px;
  gap: 0.5rem;

  .form-1 {
    display: grid;
    font-size: 14px;
    opacity: 0.6;
  }

  .form-2 {
    display: grid;
    font-size: 14px;
    opacity: 0.6;
  }

  .form-3 {
    display: grid;
    font-size: 14px;
    opacity: 0.6;
    margin-top: 10px;
  }

  .form-4 {
    display: grid;
    opacity: 0.6;
  }

  .textbox-1,
  .textbox-2 {
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.6;
    padding: 5px;
    line-height: 1.7;
  }

  .textbox-3,
  .textbox-4 {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    line-height: 1.7;
  }

  label {
    padding: 10px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: orange;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.6;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.7;

    img {
      padding-right: 10px;
    }
  }
}

@media only screen and (min-width: 799px) and (max-width: 1280px) {
  .hamburger.hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 15px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 1.7em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .hamburger.hidden {
    display: none;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 25px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 2em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }

  .drop-menu {
    display: flex;
  }
}
