:root {
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Dancing Script', cursive;
}

body {
  font-family: var(--header-font);
}

main {
  margin: 20px;
  border: 1px solid rgb(243, 199, 6);
  box-shadow: 0 10px 20px rgb(243, 199, 6);
  border-radius: 12px;
}

header {
  margin: 50px;

  p {
    width: 30px;
    border-bottom: 4px solid rgb(243, 199, 6);
    border-radius: 2px;
  }
}

img {
  max-width: 100%;
}

/* first part of form*/

.intro {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 250px;

  .intro-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .intro-area img {
    display: flex;
    margin: 5px;
  }

  .intro-area a {
    color: orange;
    text-decoration: none;
  }

  .intro p {
    opacity: 0.6;
  }
  #map {
    display: flex;
    width: 70vw;
    height: 40vh;

    @media screen and (min-width: 799px) and (min-width: 1280px) {
      width: 40vw;
      height: 40vh;
    }
  }
}

/* second part of the form */

.details {
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));

  .details-form-1 {
    display: grid;
    font-size: 14px;
    opacity: 0.6;
    margin: 10px 0px;
    gap: 10px;
  }

  .details-form-2 {
    display: grid;
    font-size: 14px;
    opacity: 0.6;
    margin: 10px 5px;
    gap: 10px;
  }

  .details-form-3 {
    display: grid;
    grid-column: span 2;
    grid-row: auto;
    font-size: 14px;
    opacity: 0.6;
    margin: 15px 0px;
  }

  .details-form-4 {
    display: grid;
    grid-column: -3 / span 2;
    grid-row: auto;
    opacity: 0.6;
    margin: 15px 0px;
  }

  .textbox-1,
  .textbox-2 {
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.6;
    padding: 5px;
    line-height: 1.7;
  }

  .textbox-3,
  .textbox-4 {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    line-height: 1.7;
  }

  label {
    padding: 10px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: orange;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.6;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.7;

    img {
      padding-right: 10px;
    }
  }
}

@media only screen and (min-width: 320px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 520px) {
  .intro {
    display: flex;

    margin: 50px;
    gap: 250px;

    .intro-link {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
    }

    .intro-area img {
      display: flex;
      margin: 5px;
    }
  }
  .details {
    display: grid;
    grid-template-columns: repeat(minmax(300px, 1fr));
  }
}
