:root {
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Dancing Script', cursive;
  --Belleza-font: 'Belleza', sans-serif;
}

body {
  background-image: linear-gradient(to right, #ad5389, #91407c, #752f6f, #591f61, #3c1053);
}

img {
  max-width: 100%;
}

header {
  font-family: var(--header-font);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-menu {
  display: flex;
}

.hamburger {
  margin: 50px;
  width: 30px;
  height: 30px;
}

.nav-link {
  list-style-type: none;
  position: relative;

  a {
    text-decoration: none;
    line-height: 3em;
    color: whitesmoke;
  }
}

.nav-link.mobile-hidden {
  display: none;
}

.nav-link.mobile-show {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 130px;
  width: 100px;
  height: 210px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  background-color: #3c1053;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: var(--header-font);
  color: white;
  margin: 200px;
  text-shadow: 0 15px 15px rgba(0, 0, 0, 1);
}

section {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 40px;

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid button {
    position: relative;
    background-color: inherit;
    border: 3px solid #f7c00a;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

// media queries

@media only screen and (min-width: 799px) and (max-width: 1280px) {
  .hamburger.hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 15px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 1.7em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }

  .grid button {
    position: relative;
    background-color: inherit;
    border: 3px solid #f7c00a;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (min-width: 1281px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .hamburger.hidden {
    display: none;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 25px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 2em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }

  .drop-menu {
    display: flex;
  }

  section {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    margin: 40px;

    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .grid button {
      position: relative;
      background-color: inherit;
      border: 3px solid #f7c00a;
      border-radius: 10px;
      font-size: 24px;
      padding: 10px;
      margin: 20px;
      width: 200px;
      height: 80px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      overflow: hidden;
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
      }
    }

    button:after {
      content: '';
      background: #ad5389;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s;
    }

    button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }
}
