//rooting scripts

:root {
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Dancing Script', cursive;
  --footer-font: 'Flamenco', cursive;
}

//body section

body {
  background-image: linear-gradient(to bottom, #f3c706, #f6c503, #f9c201, #fcc000, #ffbd00);
  /* background-image: linear-gradient(to right, #93a5cf, #94bcd6, #a7cfd9, #c4e0dd, #e4efe9); 
  background-image: linear-gradient(to right, #ffdd00, #ffd115, #ffc622, #febb2c, #fbb034); */
}
img {
  max-width: 100%;
}

//header section

header {
  display: flex;
  justify-content: space-between;
  font-family: var(--header-font);
  /* background-color: rgb(243, 199, 6); */
  padding: 20px;

  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      list-style-type: none;
      gap: 20px;
    }
    li {
      font-size: 1.4em;
      padding: 7px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 0.8em;
      text-transform: uppercase;
      border: 3px solid white;
      border-radius: 20px 0px;
      padding: 10px;
      transition: transform 500ms ease-in-out;
    }
    a:hover {
      display: flex;
      justify-content: center;
      width: 160px;
      background-color: white;
      border: 3px solid black;
      color: inherit;
      transform: scale(1.15);
    }
  }
}

//main section

main {
  font-family: var(--main-font);
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(243, 199, 6); */
  }
  .myface {
    display: flex;
    border-radius: 50%;
    max-width: 30%;
    margin-top: 100px;
    opacity: 0.9;
  }
  .center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.2em;
    margin: 50px;
    h1 {
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .btn {
      transition: all 1s;
      position: relative;
      padding: 20px;
    }

    .btn {
      color: white;
      font-size: 1.5em;
      list-style-type: none;
      text-decoration: none;
    }
  }
  .empty {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

//footer section

footer {
  font-family: var(--footer-font);
  font-size: 1.4em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 70px 0px 0px;
  padding: 40px;
  color: white;

  .social {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
    gap: 10px;
  }
  .socialinks-1,
  .socialinks-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .socialinks-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

// Media Queries

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-link li {
    display: none;
  }
  footer {
    .socialinks-1,
    .socialinks-2 {
      display: none;
    }
    .socialinks-3 {
      padding: 20px;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .nav-link li {
    display: flex;
  }
  footer {
    .socialinks-1,
    .socialinks-2 {
      display: none;
    }
    .socialinks-3 {
      padding: 20px;
      margin: auto;
    }
  }
}

@media screen and (min-width: 1281px) {
}
