:root {
  --header-font: "Roboto", sans-serif;
  --main-font: "Merriweather", serif;
  --footer-font: "Belleza", sans-serif;
}

body {
  background-image: linear-gradient(to right, #ad5389, #91407c, #752f6f, #591f61, #3c1053);
}

img {
  max-width: 100%;
}

header {
  font-family: var(--header-font);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drop-menu {
  display: flex;
}

.drop-menu:hover {
  background-color: inherit;
  color: black;
}

.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.nav-link li {
  list-style-type: none;
  display: flex;
  margin: 25px;
}
.nav-link a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
.nav-link a:hover {
  background-position: 0 100%;
}

.hamburger {
  margin: 20px;
  width: 10%;
  height: 10%;
}

.nav-link.hidden {
  display: none;
}

.nav-link.show {
  display: flex;
  flex-direction: column;
}

main {
  font-family: var(--main-font);
}
main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
main .myface {
  display: flex;
  border-radius: 50%;
  max-width: 40vw;
  margin-top: 100px;
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  main .myface {
    max-width: 25vw;
  }
}
@media screen and (min-width: 1028px) {
  main .myface {
    max-width: 15vw;
  }
}
main .center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  line-height: 2.2em;
  margin: 50px;
  color: rgb(216, 216, 216);
}
main .center-text h1 {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
main .center-text .btn {
  transition: all 1s;
  position: relative;
  padding: 20px;
}
main .center-text .btn {
  color: white;
  font-size: 1.5em;
  list-style-type: none;
  text-decoration: none;
}
main .empty {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  font-family: var(--footer-font);
  font-size: 1.4em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 70px 0px 0px;
  padding: 40px;
  color: white;
}
footer .social {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
  gap: 10px;
}
footer .network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
footer .socialinks-1,
footer .socialinks-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .socialinks-1 a,
footer .socialinks-2 a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 798px) {
  .drop-menu {
    display: none;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .nav-link a {
    color: black;
  }
  .nav-link a {
    position: relative;
    color: white;
    font-size: 1em;
    top: 130px;
    margin: auto;
  }
  footer .socialinks-1,
  footer .socialinks-2 {
    display: none;
  }
  footer .network {
    padding: 20px;
    margin: auto;
  }
}
@media only screen and (min-width: 799px) and (max-width: 1280px) {
  .hamburger.hidden {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .nav-link.hidden {
    display: flex;
    flex-direction: row;
  }
  footer .socialinks-1,
  footer .socialinks-2 {
    display: none;
  }
  footer .network {
    padding: 20px;
    margin: auto;
  }
}
@media screen and (min-width: 1281px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .hamburger.hidden {
    display: none;
  }
  .nav-link.hidden {
    display: flex;
    flex-direction: row;
  }
  .drop-menu {
    display: flex;
  }
  .center-text h1 {
    margin: 50px;
  }
  .center-text p {
    margin: 0px 200px;
  }
}/*# sourceMappingURL=styles.css.map */