//rooting scripts

:root {
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Merriweather', serif;
  --Belleza-font: 'Belleza', sans-serif;
}

//body section

body {
  background-image: linear-gradient(to right, #ad5389, #91407c, #752f6f, #591f61, #3c1053);
}

img {
  max-width: 100%;
}

//header section

header {
  font-family: var(--header-font);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-menu {
  display: flex;
}

//For HAMBURGER MENU
.hamburger {
  margin: 50px;
  width: 30px;
  height: 30px;
}

.nav-link {
  list-style-type: none;
  position: relative;

  a {
    text-decoration: none;
    line-height: 3em;
    color: whitesmoke;
  }
}

.nav-link.mobile-hidden {
  display: none;
}

.nav-link.mobile-show {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 130px;
  width: 100px;
  height: 190px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  background-color: #3c1053;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}

//main section

main {
  font-family: var(--main-font);

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .myface {
    display: flex;
    border-radius: 50%;
    max-width: 40vw;
    margin-top: 100px;
    opacity: 0.9;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    @media screen and (min-width: 768px) {
      max-width: 25vw;
    }
    @media screen and (min-width: 1028px) {
      max-width: 15vw;
    }
  }

  .center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    line-height: 2.2em;
    margin: 50px;
    color: rgb(216, 216, 216);

    h1 {
      text-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

//footer section

footer {
  font-family: var(--Belleza-font);
  font-size: 1.4em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 70px 0px 0px;
  padding: 40px;
  color: white;

  .social {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
    gap: 10px;
  }

  .network {
    padding: 20px;
    margin: auto;
  }

  .socialinks {
    display: none;
  }
}

// Media Queries

@media only screen and (min-width: 799px) and (max-width: 1280px) {
  .hamburger.hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 15px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 1.7em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }

  main .myface {
    max-width: 25vw;
  }
}

@media screen and (min-width: 1281px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .hamburger.hidden {
    display: none;
  }

  .nav-link.mobile-hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      margin: 25px;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 2em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(to right, #b478b1, #9161aa 50%, rgb(187, 187, 187) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;

      &:hover {
        background-position: 0 100%;
      }
    }
  }

  .drop-menu {
    display: flex;
  }

  .center-text {
    h1 {
      margin: 50px;
    }
    p {
      margin: 0px 200px;
    }
  }

  main .myface {
    max-width: 15vw;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .network {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .socialinks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        gap: 10px;
        text-decoration: none;
        color: white;
      }
    }
  }
}
